<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503852741396-a6ecd91788im9qfqo0pbea692uvpmefv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503852741396-a6ecd91788im9qfqo0pbea692uvpmefv</string>
	<key>API_KEY</key>
	<string>AIzaSyCbwToUD1Sq9Zy9xq3Qxm3073BhG7MFtK4</string>
	<key>GCM_SENDER_ID</key>
	<string>503852741396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NguyenThiToan.GoodFood-App</string>
	<key>PROJECT_ID</key>
	<string>fir-2402</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2402.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503852741396:ios:7da89649bf622df62a4801</string>
	<key>DATABASE_URL</key>
	<string>https://fir-2402-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>