<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>CFBundleVersion</key>
    <string>1</string>

    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>


    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.503852741396-a6ecd91788im9qfqo0pbea692uvpmefv</string>
            </array>
        </dict>
    </array>

    <key>GIDClientID</key>
    <string>503852741396-a6ecd91788im9qfqo0pbea692uvpmefv.apps.googleusercontent.com</string>
</dict>
</plist>

